<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hasil Pertandingan</title>
</head>
<body style="text-align:center">
    <h1>Pokemon Battle Result</h1>
    <p>
    <img src="{{gambar1}}" align='middle'/>
    VS
    <img src="{{gambar2}}" align='middle'/>
    </p>
    <br><br>
    <img src="{{result['graph']}}" align='middle'/>
    <br>
    <p><b>Probability of Win</b></p>
    <h2>{{result['prob']}}%</h2>
    <br> 
    <h2>{{result['win']}}</h2> 
    <br>
    <h2>WINS!</h2>
    <form action="http://localhost:5000/", method="GET">
        <input type="submit" value="Kembali"/>
    </form>
</body>
</html>