<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon</title>
</head>
<body>    
    <center>
        <br><br>
        <div class="col-50">
                <div class="container">
                    <form action="http://localhost:5000/hasil" method="post">
                    
                    <p>
                        <input name="namapokemon1" type="text" placeholder="Pokemon 1..."></p>
                    <p>
                        <input name="namapokemon2" type="text" placeholder="Pokemon 2..."></p>
                    <p>
                        <input type="submit" value="BATTLE">
                    </p>
                    </form>
                </div>
            </div>
</center></body>
</html>